<div class="card">
  <div class="card-title">
    <% if request.path == '/find-users' %>
      <h5><%= get_profile user.username %></h5>
    <% else %>
      <h5><%= user.name %></h5>
    <% end %>
  </div>

  <div class="card-subtitle text-muted">
    Username: <%= user.username %>
  </div>

  <div class="card-body">
    <table class="table">
      <tr>
        <td>Email</td>
        <td><%= user.email %></td>
      </tr>
      <tr>
        <td>Join date</td>
        <td><%= user.created_at.strftime("%Y-%m-%d") %></td>
      </tr>
      <tr>
        <td>Shared Places</td>
        <td><%= user.places.count %></td>
      </tr>
      <tr>
        <td>Following</td>
        <td><%= Follow.where('follower_id = ?', user.id).count %></td>
      </tr>
      <tr>
        <td>Followers</td>
        <td><%= Follow.where('following_id = ?', user.id).count %></td>
      </tr>
    </table>
  </div>
</div>