<div class="container">
  <br>
  <%= link_to "< Back", :back, class: 'btn btn-info' %>
  <br>
  <h4>Profile Information</h4>
  <br>

  <% if @follow %>
    <%= link_to "- Unfollow", 
                follow_or_unfollow_path(
                  follower_id: current_user.id, 
                  following_id: @user.id,
                  url_path: request.original_url
                ),
                method: :post,
                class: 'btn btn-warning' %>
  <% else %>
    <%= link_to  "+ Follow",
                  follow_or_unfollow_path(
                    follower_id: current_user.id,
                    following_id: @user.id,
                    url_path: request.original_url
                  ), method: :post,
                  class: 'btn btn-success' %>
  <% end %>
  <%= render partial: 'pages/profile_card', :locals => { user: @user } %>
</div>

<hr>
<div class="container">
  <h4>Places Shared</h4>
  
  <%= render partial: 'pages/places', :locals => { places: @user.places.page, has_pagination: true } %>
</div>