<!DOCTYPE html>
<html>
  <head>
    <title>Place Sharing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?v=3&key=<%= ENV.fetch("GOOGLE_API_KEY") %>">
    </script>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/navigation' %>

    <%= render 'layouts/alert'%>

    <%= yield %>
  </body>
</html>
